<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="main">

        <!-- Welcome user and request info -->
        <H1>Welcome to HowAreYou </H1>
        <h2> Enter a username and password below, to join our community!</h2>

        <!-- start form for user to input information -->
        <form action ="">

            <!-- start username label and create input for username -->
            <label for="first">Username:</label>
            <input type="text" id="first" name="first"
                placeholder="Enter your Username" required>
            
            <!-- start password label and create intput for password -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                placeholder="Enter your Password" required>

            <!-- Create a submit buttom for the user to click -->
            <button type="submit"> Submit </button>
        </form>


    </div>

</body>



</html>